*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(92, 92, 92); */
}

.container{
    width: 60%;
    background-color: rgb(173, 175, 176);
    min-height: 100vh;
    margin: auto;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.input{
    margin-left: 20px;
    margin-right: auto;
    width: 80%;
    border-radius: 10px;
    padding: 10px 20px ;
}

.container h1{
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 5px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(176, 148, 148);
}
.paras{
    border-radius: 2px;
    margin: 8px ;
    background-color: rgb(243, 224, 199);
}